<div class="w-full px-8 py-10 flex space-x-6 bg-[#030418] text-white">
  <div>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure officia, quia
    excepturi ex veritatis, ab blanditiis quibusdam mollitia aliquam incidunt
    eum recusandae perspiciatis illum voluptate autem magni, voluptates
    aspernatur beatae.
  </div>
  <div>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure officia, quia
    excepturi ex veritatis, ab blanditiis quibusdam mollitia aliquam incidunt
    eum recusandae perspiciatis illum voluptate autem magni, voluptates
    aspernatur beatae.
  </div>
  <div>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure officia, quia
    excepturi ex veritatis, ab blanditiis quibusdam mollitia aliquam incidunt
    eum recusandae perspiciatis illum voluptate autem magni, voluptates
    aspernatur beatae.
  </div>
</div>
