<div class="p-7 flex flex-col">
  <div class="flex justify-between space-x-4">
    <!-- les engagement indirects (Hors bilan) en milliard de DZD -->
    <app-engagements></app-engagements>
    <app-evolution></app-evolution>
  </div>
  <div class="w-full pt-20 flex space-x-4 items-center">
    <div class="w-80 justify-start text-xl">Comment Analyste :</div>
    <div class="border flex p-5 border-gray-500 rounded bg-gray-100">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore dicta,
      voluptas labore perferendis voluptate voluptates, repellendus expedita,
      ipsa iste dignissimos quos laboriosam? Magni accusamus beatae hic, itaque
      laborum rem enim.
    </div>
  </div>
</div>
