<div class="h-full w-full flex flex-col">
  <app-navbar [index]="2"></app-navbar>

  <div class="p-5 flex flex-col space-y-5">
    <div class="flex space-x-20 justify-center items-center">
      <img
        data-aos="fade-right"
        src="/assets/images/Statistics_350x242.jpg"
        alt=""
      />
      <div class="font-semibold text-5xl" data-aos="fade-left">
        Intervalle technologies
      </div>
    </div>
    <div class="flex space-x-20 justify-center items-center">
      <div class="font-semibold text-3xl" data-aos="fade-right">
        Here to manage and grow your business
      </div>
      <img data-aos="fade-left" src="/assets/images/line-graph.png" alt="" />
    </div>
  </div>
  <app-footer></app-footer>
</div>
