<div class="h-screen w-full">
  <app-navbar [index]="0"></app-navbar>
  <div
    class="h-full w-full flex flex-col justify-center space-y-3 items-center"
  >
    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="roleForm"
      class="flex m-8 py-6 px-16 space-y-3 flex-col justify-center bg-white rounded-lg shadow"
    >
      <div class="w-full flex items-center pb-3 flex-col space-y-1">
        <div class="text-xl font-semibold text-[#0d0c22]">Ajout d'un role</div>
        <div class="font-semibold text-[#979797]">
          Ajouter un role avec ses privileges
        </div>
      </div>
      <app-input
        [label]="roleString"
        [form]="roleForm"
        [specificFormControl]="roleForm.controls['role']"
        [submitted]="submitted"
        [minLength]="4"
        [maxLength]="40"
      ></app-input>

      <div
        (clickOutside)="closePrivilegesList()"
        class="flex flex-col space-y-1.5"
      >
        <label for="role" class="font-semibold text-[#0d0c22] text-[15px]"
          >Privileges
        </label>

        <div
          class="px-4 py-2.5 w-[400px] text-[#9ca3af] h-fit shadow border border-[#c6c6c6] rounded flex flex-col relative cursor-pointer"
          (click)="toggleDisplayPrivilege()"
        >
          <div class="w-full justify-between flex">
            <p>Privileges</p>
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="keyboard_arrow_down"
            ></mat-icon>
          </div>

          <div
            *ngIf="displayPrivilege"
            class="absolute max-h-52 overflow-y-scroll z-10 top-12 w-full left-0 flex flex-col space-y-2 p-2 bg-white shadow-lg"
          >
            <div
              class="px-2 py-1 hover:bg-[#ff3333] hover:text-white rounded cursor-pointer w-full text-[#0d0c22]"
              *ngFor="let p of listPrivileges"
              (click)="addToChoosedPrivilege(p)"
            >
              {{ p.name }}
            </div>
          </div>
        </div>
      </div>

      <div
        *ngIf="listOfChoosedPrivileges.length > 0"
        class="flex space-x-2 w-[400px] flex-wrap space-y-2"
      >
        <div
          data-aos="fade-up"
          *ngFor="let privilege of listOfChoosedPrivileges"
          class="px-2 cursor-default text-sm h-6 bg-white w-fit text-ellipsis rounded-2xl shadow border border-[#333335] group flex justify-between"
        >
          {{ privilege.name }}
          <div
            class="hidden group-hover:flex text-red-600 font-bold cursor-pointer ml-2 bg-white"
            (click)="removePrivilege(privilege)"
          >
            X
          </div>
        </div>
      </div>

      <div
        *ngIf="submitted && listOfChoosedPrivileges.length < 1"
        class="w-full text-white font-semibold flex justify-center"
      >
        <p
          class="py-1.5 px-5 bg-[#ff3333] opacity-80 text-sm text-white rounded-lg"
        >
          Ajoutez au moins un privilege
        </p>
      </div>

      <app-button [text]="addString"></app-button>
    </form>
  </div>
  <app-footer></app-footer>
</div>
