<div class="p-7 flex flex-col space-y-5">
  <div class="flex justify-between space-x-4">
    <!-- les engagement indirects (Hors bilan) en milliard de DZD -->
    <app-evolution-direct></app-evolution-direct>
    <app-credit-net></app-credit-net>
  </div>
  <div class="flex justify-between space-x-4">
    <app-par-type-engagement></app-par-type-engagement>
    <div
      class="flex flex-col space-y-8 items-center justify-center w-[600px] border rounded-lg border-gray-500"
    >
      <div class="text-xl">Commentaire Analyste</div>
      <div class="bg-gray-100 p-5">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio nobis
        aspernatur blanditiis sapiente nisi obcaecati asperiores necessitatibus
        suscipit animi recusandae quis, atque impedit error quisquam ipsa porro
        facere! Animi, ut.
      </div>
    </div>
  </div>
</div>
