<div class="flex flex-col space-y-1.5">
  <label for="id" class="font-semibold text-[#0d0c22] text-[15px]"
    >{{ label }}
  </label>
  <input
    id="{{ label }}"
    placeholder="{{ label }}"
    type="text"
    class="rounded shadow py-2.5 px-4 border w-[400px] border-[#c6c6c6]"
    [formControl]="specificFormControl"
  />

  <div
    *ngIf="submitted && specificFormControl.invalid"
    class="text-sm text-red-600 font-semibold"
  >
    <div *ngIf="specificFormControl?.errors?.['required']">
      Ce champ est obligatoir
    </div>
    <div *ngIf="specificFormControl?.errors?.['minlength']">
      Ce champ doit contenir au moins {{ minLength }} caractéres
    </div>
    <div *ngIf="specificFormControl?.errors?.['maxlength']">
      Ce champ doit pas contenir plus de {{ maxLength }} caractéres
    </div>
    <div *ngIf="specificFormControl?.errors?.['pattern']">Nom invalid</div>
  </div>
</div>
